.ftpconfig
.ftpignore
.pacmec/.prv/settings.php
.pacmec/themes/*
!.pacmec/themes/pacmec-default
.pacmec/plugins/*
!.pacmec/plugins/pacmec-hello.php
!.pacmec/plugins/pacmec-hello.php
public/*
!public/default
!public/favicon.ico